player-connection-mode=Listen
player-connection-guid=2444196096
player-connection-debug=0
player-connection-project-name=Quiz game
player-connection-ip=192.168.1.5
player-connection-ip=26.67.189.185
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ea5c64d03dc94cc1a34b81d02051e751
